{% load static %}

<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>St.Sebastine's HSS</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">

	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/bootstrap-touch-slider.css' %}">

	<link rel="stylesheet" href="{% static 'css/colors.css' %}">

	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

	<link rel="stylesheet" href="{% static 'css/pr_loading.css' %}">

	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">

	<link rel="stylesheet" href="{% static 'css/timeline.min.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'js/modernizer.js' %}"></script>

	<script src="{% static 'js/all.js' %}"></script>

    <script src="{% static 'js/01-custom-places-example.js' %}"></script>

    <script src="{% static 'js/mapsed.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>

    <script src="{% static 'js/timeline.min.js' %}"></script>

<!--    &lt;!&ndash;[if lt IE 9]>-->
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<!--    <![endif]&ndash;&gt;-->


</head>
<body class="host_version"> 

    <script>

        function validate1()
       {
       var emil=document.getElementById("email").value;
           var st=/^[\w\+\'\.-]+@[\w\'\.-]+\.[a-zA-Z]{2,}$/;
           if(emil=="")
       {
           document.getElementById('el').style.display = "block";

           document.getElementById('el').innerHTML="**Please Enter  Email";
           return false;
       }
           if(emil!="" && st.test(emil)==false){

               document.getElementById('el2').style.display = "block";
               document.getElementById('el2').innerHTML = "Invalid Email id";
               return false;
           }
           else{
               document.getElementById('el2').style.display = "none";
           }
       }

</script>




<style>


/* The message box is shown when the user clicks on the password field */
#message {
display:none;
background: #f1f1f1;
color: #000;
position: relative;
padding: 20px;
margin-top: 10px;
}

#message p {
padding: 10px 35px;
font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
color: green;
}

.valid:before {
position: relative;
left: -35px;
content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
color: red;
}

.invalid:before {
position: relative;
left: -35px;
content: "✖";
}
</style>

<div id="message">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
  </div>


<script>
    var myInput = document.getElementById("psw");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    
    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
      document.getElementById("message").style.display = "block";
    }
    
    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
      document.getElementById("message").style.display = "none";
    }
    
    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }
      
      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if(myInput.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }
    
      // Validate numbers
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {  
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }
      
      // Validate length
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }
    </script>





	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title">Login</h3>
			</div>
			<div class="modal-body customer-box">
				<!-- Nav tabs -->
				<!-- <ul class="nav nav-tabs">
					<li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
					
				</ul> -->
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form class="form-horizontal" method="POST" action="{% url 'home' %}">
                            {% csrf_token %}
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" name="email" id="email" placeholder="Email" type="email" onblur="return validate1()" onKeyUp="return validate1()" required>
                                    <span id="el2" style="color: red;"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input class="form-control" name="pass" id="password" placeholder="password" type="password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
								    <span id="pswd" style="color: red;"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<input type="submit" class="btn btn-light btn-radius btn-brd grd1" value="LOGIN" id="submitt">
										
									
									<a class="for-pwd" href="{% url 'forgotpsswd' %}">Forgot your password?</a>
								</div>
							</div>
						</form>
					</div>
						<!-- </form> -->
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
    




    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid" id="google_element">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
                        <div class="widget-search">
                            <div class="site-search-area">
                                <form action="{% url 'searchbar' %}" id="site-searchform" method="get">
                                    <div>
                                        <input class="input-text form-control" name="query" id="search-k" placeholder="Search keywords..." type="text">
                                        <input id="searchsubmit" value="Search" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
						<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'courses' %}">Courses</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'Teacher' %}">Teachers</a></li>

						
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login" id="login"><span>STS LOGIN</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- End header -->
	

    {% include 'alert.html' %}

    <script>
      setTimeout(function(){
        if ($('#msg').length > 0){
          $('#msg').remove();
          }
        },4000)
  
    </script>



	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleControls" data-slide-to="1"></li>
			<li data-target="#carouselExampleControls" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('{% static 'images/slider-01.jpg' %}');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2><strong>St.Sebastine's </strong> Higher Secondary School</h2>
										<p class="lead">St. Sebastine's Higher Secondary School is a prestigious institution that provides quality education to students and prepares them for a bright future </p>
											
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('{% static 'images/slider-02.jpg' %}');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-left">
									<div class="big-tagline">
										<h2><strong>St.Sebastine's </strong> Higher Secondary School</h2>
										<p class="lead">St. Sebastine's Higher Secondary School is a prestigious institution that provides quality education to students and prepares them for a bright future </p>
										
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('{% static 'images/slider-03.jpg' %}');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-center">
									<div class="big-tagline">
										<h2><strong>St.Sebastine's </strong> Higher Secondary School</h2>
										<p class="lead">St. Sebastine's Higher Secondary School is a prestigious institution that provides quality education to students and prepares them for a bright future </p>
										
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<!-- Left Control -->
			<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!-- Right Control -->
			<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <!-- <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p> -->
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>St.Sebastine's</h4>
                        <h2>Welcome to Smart education school</h2>
                        <p>St. Sebastine's Higher Secondary School is a co-educational institution that has been imparting education to students for several decades.The school has a well-qualified and experienced faculty who are dedicated to nurturing the students' overall development.The school offers a wide range of academic programs, including science, commerce, and humanities streams, along with several vocational courses.
                            St. Sebastine's Higher Secondary School also encourages students to participate in various sports and cultural events to enhance their physical and creative abilities.</p>
.</p>
                        <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_02.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_03.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <!-- <h2>The standard Lorem Ipsum passage, used since the 1500s</h2> -->
                        <h2>The best eduactional institution near you</h2>
                        <p>St. Sebastine's Higher Secondary School is a co-educational institution that has been imparting education to students for several decades.St. Sebastine's Higher Secondary School also encourages students to participate in various sports and cultural events to enhance their physical and creative abilities.
                            The school has a well-stocked library, computer labs, and science laboratories to facilitate the students' academic growth.
                            St. Sebastine's Higher Secondary School has a rich history of producing well-rounded individuals who have excelled in various fields.
                            The school places great emphasis on discipline, values, and character-building, preparing students for a successful and fulfilling life ahead.</p>
</p>

                        <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script >
        function loadGoogleTranslate(){
           new google.translate.TranslateElement("google_element");
        }
    </script> 





    <!-- <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_01.png' %}" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_02.png' %}" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_03.png' %}" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_04.png' %}" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_05.png' %}" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{% static 'images/logo_06.png' %}" alt="" class="img-repsonsive"></a>
                </div> -->
            <!-- </div>end row -->
        <!-- </div>end container -->
    <!-- </div>end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <!-- <h3>About US</h3> -->
                        </div>
                        <!-- <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>    -->
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pricing</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">stsebastinehss@gmail.com</a></li>
                            <!-- <li><a href="#">www.yoursite.com</a></li> -->
                            <li>Nedumkandam P O Idukki,Kerala</li>
                            <li>+91 6282906322</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <!-- <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p> -->
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/timeline.min.js' %}"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>